/* styles.css */
.row-color-0 {
    background-color: #ffddc1 !important;
}
.row-color-1 {
    background-color: #ffabab !important;
}
.row-color-2 {
    background-color: #ffc3a0 !important;
}
.row-color-3 {
    background-color: #ff677d !important;
}
.row-color-4 {
    background-color: #d4a5a5 !important;
}
.row-color-5 {
    background-color: #392f5a !important;
}
.row-color-6 {
    background-color: #31a2ac !important;
}
/* ./ */
.workout-item {
    background-color: rgb(227, 147, 27);
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
}

table th,
table td {
    text-align: center;
    vertical-align: middle;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.button1 {
    text-align: right;
    padding-right: 50px;
    margin-bottom: 5px;
}
